In [1]:
num=[45,23,65,97,23]
type(num)

list

In [2]:
num=(45,23,65,97,23)
type(num)

tuple

In [3]:
num={45,23,65,97,23}
type(num)

set

In [4]:
num={45:23,65:97,23:98}
type(num)

dict

## List -
#### Hetrogenous , mutable(chage the content of list after creation) ,indexable, position number start with 0, iterable

In [7]:
num=[45,23,65,97,23,95,55,41,62]
type(num)
num[0]

45

num[0]=54 
num

In [9]:
num

[54, 23, 65, 97, 23, 95, 55, 41, 62]

In [10]:
mixed =[54, 23, True, 97, 'deepali', 95.32, 55, 41, 62]
mixed

[54, 23, True, 97, 'deepali', 95.32, 55, 41, 62]

In [12]:
num[-2] #reverse search or last index start with -1 in reverse direction is call negative indexing

41

In [13]:
for n in num:
    print(n)

54
23
65
97
23
95
55
41
62

In [14]:
for n in num:
    if n%2 ==1:
        print(n)

23
65
97
23
95
55
41

In [15]:
23 in num

True

In [16]:
23 not in num

False

In [17]:
e=[]

In [18]:
type(e)

list

In [19]:
e[0]

IndexError: list index out of range

In [21]:
e+=[26]
e

[26]

In [22]:
e+=[76]
e

[26, 76]

In [30]:
#slicing -- sub list is created over original list

x =num[4:8]
x

[23, 95, 55, 41]

In [31]:
num

[54, 23, 65, 97, 23, 95, 55, 41, 62]

In [32]:
num[5:]

[95, 55, 41, 62]

In [33]:
num[:4]

[54, 23, 65, 97]

In [34]:
num1 =[3,6,8]
num2= [1,7,5]
x= num1+num2
x

[3, 6, 8, 1, 7, 5]

In [35]:
num1*3

[3, 6, 8, 3, 6, 8, 3, 6, 8]

In [36]:
len(num)

9

In [37]:
str1 ="ssdfedg"
len(str1)

7

In [38]:
min(num),max(num),sum(num)

(23, 97, 515)

In [43]:
avg(num)

NameError: name 'avg' is not defined

In [40]:
sorted(num)

[23, 23, 41, 54, 55, 62, 65, 95, 97]

In [41]:
sorted(num , reverse=True)

[97, 95, 65, 62, 55, 54, 41, 23, 23]

In [42]:
num.append(26)
num

[54, 23, 65, 97, 23, 95, 55, 41, 62, 26]

In [44]:
num.remove(55)
num

[54, 23, 65, 97, 23, 95, 41, 62, 26]

In [45]:
num.remove(23) #duplicate 23 is present but only remove 1st instance
num

[54, 65, 97, 23, 95, 41, 62, 26]

In [46]:
num.pop(2) # remove at the index 2
num

[54, 65, 23, 95, 41, 62, 26]

In [47]:
num.insert(3,58) #insert at 3rd index with value 58
num

[54, 65, 23, 58, 95, 41, 62, 26]

In [48]:
num.reverse()  # reverse the list contents
num

[26, 62, 41, 95, 58, 23, 65, 54]

In [49]:
num.sort() # data is sorted and changed in varbale completly
num

[23, 26, 41, 54, 58, 62, 65, 95]

In [50]:
num.sort(reverse=True) # data is sorted and changed in varbale completly
num

[95, 65, 62, 58, 54, 41, 26, 23]

In [51]:
num.clear() # deleting all content
num

[]

In [52]:
# any varible to delete permentatly 
del num

In [54]:
print(num)

NameError: name 'num' is not defined

In [63]:
metals = ['silver','gold','copper','alumimnium','gold','silver','silver','copper','alumimnium','copper','gold','copper','silver','gold']
newlist=[]
for n in metals:   
    if n!= 'copper':
        newlist+=[n]
        
newlist

['silver',
 'gold',
 'alumimnium',
 'gold',
 'silver',
 'silver',
 'alumimnium',
 'gold',
 'silver',
 'gold']

In [62]:
metals

['silver',
 'gold',
 'copper',
 'alumimnium',
 'gold',
 'silver',
 'silver',
 'copper',
 'alumimnium',
 'copper',
 'gold',
 'copper',
 'silver',
 'gold']

In [64]:
newlist

['silver',
 'gold',
 'alumimnium',
 'gold',
 'silver',
 'silver',
 'alumimnium',
 'gold',
 'silver',
 'gold']

In [66]:
num =[23,54,65,66,88.98]

In [67]:
new =[n/2 for n in num]  #list comprehension where we write  any operation perform on each element of the list and then for  loop
new

[11.5, 27.0, 32.5, 33.0, 44.49]

In [68]:
new =[n for n in num if n%2 ==1]   # without using for loop in single line we filter the content using if 
new

[23, 65]

In [69]:
new =[n/2 for n in num if n%2 ==1]   # only odd number divided by 2
new

[11.5, 32.5]

In [72]:
newlmetals = [n for n in metals if n!='copper']
newlmetals

['silver',
 'gold',
 'alumimnium',
 'gold',
 'silver',
 'silver',
 'alumimnium',
 'gold',
 'silver',
 'gold']

In [74]:
list1=[5,6,2,8,9,1,3,7,4,0]
newlist1 =list1[:5]
newlist1

[5, 6, 2, 8, 9]

In [75]:
newlist2=list1[5:]
newlist2

[1, 3, 7, 4, 0]

In [76]:
newlist2.sort()
newlist2

[0, 1, 3, 4, 7]

In [79]:
outputlist = newlist1+newlist2
outputlist

[5, 6, 2, 8, 9, 0, 1, 3, 4, 7]

In [81]:
outputlist =list1[:5]+sorted(list1[5:])
outputlist

[5, 6, 2, 8, 9, 0, 1, 3, 4, 7]

## tuple
#### Hetrogenous , immutable(not change the content of list after creation) ,indexable, position number start with 0, iterable

In [83]:
num =(23,54,67,34,64,76)
type(num)

tuple

In [84]:
num[5]

76

In [85]:
num[-3]

34

In [88]:
num[3]=56 #tuple does not support insert, add, delete contents in tuples so it is immutable

TypeError: 'tuple' object does not support item assignment

In [89]:
num =23,54,67,34,64,76 #if parenthesis not given then it  default tke parenthesis 
type(num)

tuple

## Set
#### Hetrogenous , mutable( change the content of list after creation) ,not indexable, position number start with 0, iterable, sorted default, and unique

In [91]:
s={5,3,6,3,4,3,6,2,1}
s

{1, 2, 3, 4, 5, 6}

In [92]:
s.add(7)
s

{1, 2, 3, 4, 5, 6, 7}

In [93]:
s.add(2)
s

{1, 2, 3, 4, 5, 6, 7}

In [94]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [95]:
s1.intersection(s2)

{3, 4, 5}

In [96]:
s1.difference(s2)

{1, 2}

In [97]:
s2.difference(s1)

{6, 7}

## Dictionary
#### Hetrogenous , mutable( change the content of list after creation) ,not indexable, position number start with 0, iterable, sorted default, and unique, Key-value pair, value is access using key

In [99]:
d={2:34,5:53,7:456,'a':'apple'}
type(d)

dict

In [100]:
d

{2: 34, 5: 53, 7: 456, 'a': 'apple'}

In [101]:
d[2]

34

In [102]:
d['a']

'apple'

In [105]:
d[54] # key is not present then giving error as Keyerror

KeyError: 54

In [106]:
d[6]=100
d

{2: 34, 5: 53, 7: 456, 'a': 'apple', 6: 100}

In [107]:
d[2]=22
d

{2: 22, 5: 53, 7: 456, 'a': 'apple', 6: 100}

In [108]:
x={}
type(x)

dict

In [1]:
l=[5,4,5,3,6,8,0]
t=(2,3,5,1,7,8)
s={4,6,3,8,4,5}

In [110]:
set(l)

{0, 3, 4, 5, 6, 8}

In [111]:
list(t)

[2, 3, 5, 1, 7, 8]

In [112]:
set(s)

{3, 4, 5, 6, 8}

In [113]:
tuple(l)

(5, 4, 5, 3, 6, 8, 0)

In [2]:
tuple(s)

(3, 4, 5, 6, 8)