In [1]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
                                              0.0/11.9 MB ? eta -:--:--
                                              0.1/11.9 MB 1.7 MB/s eta 0:00:08
                                              0.2/11.9 MB 2.6 MB/s eta 0:00:05
     -                                        0.3/11.9 MB 2.5 MB/s eta 0:00:05
     --                                       0.7/11.9 MB 4.2 MB/s eta 0:00:03
     ----                                     1.2/11.9 MB 5.2 MB/s eta 0:00:03
     -----                                    1.6/11.9 MB 6.9 MB/s eta 0:00:02
     -------                                  2.4/11.9 MB 7.9 MB/s eta 0:00:02
     ------------                             3.7/11.9 MB 10.2 MB/s eta 0:00:01
     ------------------                       5.3/11.9 MB 13.1 MB/s eta 0:00:01
     -----------------------                  6.8/11.9 MB 15.6 MB/s eta 0:00:01
     -------------------------                7.4/11.9 MB 15.4 MB/s eta 0:00:01
     ----------------------------             8.5/11.9 MB 15.6 MB/s eta 0:00:01
     ---------------------------------       10.3/11.9 MB 18.2 MB/s eta 0:00:01
     --------------------------------------  11.7/11.9 MB 25.1 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 25.1 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 21.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=fcdcc9fe027808efb3507a4684e4c47e964d4be4cc6a8b9dea81c35ba5e05ae1
  Stored in directory: c:\users\dipali shinde\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [4]:
import mysql.connector as sql

In [5]:
db_connection = sql.connect(host ='localhost',database ='mydb', user='root', password='cdac@1234')

In [6]:
db_cursor =db_connection.cursor()

In [16]:
db_cursor.execute('select * from student')

In [17]:
table_rows = db_cursor.fetchall()

In [18]:
table_rows

[(1, 'Deepali', 90.5, 'FY'),
 (2, 'swati', 85.73, 'SY'),
 (3, 'Ram', 90.0, 'TY'),
 (4, 'Ajay', 60.84, 'FY'),
 (6, 'Vijay', 70.84, 'SY'),
 (7, 'Jaya', 74.14, 'FY'),
 (8, 'Pramod', 78.14, 'TY'),
 (9, 'Nisha', 61.26, 'FY'),
 (10, 'Rohit', 57.64, 'SY'),
 (11, 'Charu', 87.5, 'TY'),
 (12, 'Sita', 57.5, 'TY'),
 (13, 'test', 65.0, 'FY'),
 (14, 'test1', 65.0, 'FY')]

In [11]:
df =pd.DataFrame(table_rows)

In [12]:
df

     0        1      2   3
0    1  Deepali  90.50  FY
1    2    swati  85.73  SY
2    3      Ram  90.00  TY
3    4     Ajay  60.84  FY
4    6    Vijay  70.84  SY
5    7     Jaya  74.14  FY
6    8   Pramod  78.14  TY
7    9    Nisha  61.26  FY
8   10    Rohit  57.64  SY
9   11    Charu  87.50  TY
10  12     Sita  57.50  TY
11  13     test  65.00  FY
12  14    test1  65.00  FY